$jy-doc-border-color: #f1f4f8;
$jy-doc-padding: 40px;
$jy-doc-black: #333;
$jy-doc-text-color: #34495e;
$jy-doc-blue: #0079f3;
$jy-doc-text-light-blue: rgba(69, 90, 100, .6);
$jy-doc-code-color: #455a64;

/* header */
$jy-doc-header-height: 60px;