$qw-doc-border-color: #f1f4f8;
$qw-doc-padding: 40px;
$qw-doc-black: #333;
$qw-doc-text-color: #34495e;
$qw-doc-blue: #0079f3;
$qw-doc-text-light-blue: rgba(69, 90, 100, .6);
$qw-doc-code-color: #455a64;

/* header */
$qw-doc-header-height: 60px;